data/**
.vscode/**
build/**
log.log
input/**
ex2/build/**
ex1/build/**
inputFile/**
.gradle/**
build/**
gradle/** valgrind.log
valgrind.log.*
output.txt
error.txt

.idea/**

# LaTeX file
*.aux
*.log
*.toc
input/**
ex2/build/**
lib/**
inputFile/**
build/**
*.aux
*.log
*.toc
error.txt
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
gradle/**
.idea/**
bin/**
